<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="card-title">
                    Console
                </h5>
            </div>
            <div class="col-4 float-right">
                <a href="#" class="float-right" (click)="clear()">clear</a>
            </div>
        </div>
        <div class="log-container" #logs>
            <p *ngFor="let log of incomingLogs">{{log}}</p>
        </div>
    </div>
</div>
